// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hide {
	display: none;
}

.panel {
	text-align: center;
}

.image {
	max-width: 80%;
}

.align {
	text-align: center;
}

.edit {
	margin: 0 16.6666666%;
	text-align: center;
}

.img-responsive {
	display: inline;
}

.edit_form {
	float: left;
}

.stuff {
	
}

.panel-body img {
	max-width: 30%;
}


.panel-info>.panel-heading {
	color: #FFFFFF;
}


.jumbotron p {
	margin-left: 10px;
}